  <div class='header'>
    <%= link_to root_path do %>
    <h1 class='title'>repdiary</h1>
    <% end %>
  </div>

  <div class='content'>
    <div class='petsprof'>
      <div class='petsicon'>
        <div class='petsnames'>
        caeser
        </div>
          <%= image_tag("IMG_0367.JPG", :class => "petsimage") %>
      </div>
         <%= line_chart @chartweight, id: "weight-chart",width: "38rem", height: "14rem", curve: false, xtitle: "Date", ytitle: "Weight(g)" %>
      <div class='condition'>
        <div class='listwrapper'>
          <div class='listbox'>
            Date
          </div>
          <div class='listbox'>
            Feed
          </div>
          <div class='listbox'>
            Height(cm)
          </div>
          <div class='listbox'>
            Weight(g)
          </div>
          <div class='listbox'>
            Poop
          </div>
          <div class='listbox'>
            Shed
          </div>
          <div class='commentbox'>
            Comment
          </div>
        </div>

      <div class ='datacontent'>
        <div class='datawrapper'>
          <div class='databox'>
            9/24
          </div>
          <div class='databox'>
            6
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            9
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Came to My Home!
          </div>
        </div>

         <div class='datawrapper'>
          <div class='databox'>
            10/8
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            18
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            1
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            ate Dubia ss
          </div>
        </div>


         <div class='datawrapper'>
          <div class='databox'>
            10/15
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            19
          </div>
          <div class='databox'>
            17
          </div>
          <div class='databox'>
            1
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            3weeks
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            10/24
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            21
          </div>
          <div class='databox'>
            22
          </div>
          <div class='databox'>
            1
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia S
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            10/30
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            22
          </div>
          <div class='databox'>
            22
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia S
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            11/5
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            22
          </div>
          <div class='databox'>
            27
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia S
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            11/12
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            23
          </div>
          <div class='databox'>
            31
          </div>
          <div class='databox'>
            1
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            7Weeks
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            11/19
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            23
          </div>
          <div class='databox'>
            34
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia S
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            11/26
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            25
          </div>
          <div class='databox'>
            41
          </div>
          <div class='databox'>
            1
          </div>
          <div class='databox'>
            1
          </div>
          <div class='commentedbox'>
            Dubia S
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            12/24
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            27
          </div>
          <div class='databox'>
            59
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            3Month
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            1/8
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            25
          </div>
          <div class='databox'>
            76
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            1
          </div>
          <div class='commentedbox'>

          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            2/6
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            30
          </div>
          <div class='databox'>
            97
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia M
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            2/21
          </div>
          <div class='databox'>
            10
          </div>
          <div class='databox'>
            30
          </div>
          <div class='databox'>
            106
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Over 100g
          </div>
        </div>

        <div class='datawrapper'>
          <div class='databox'>
            9/23
          </div>
          <div class='databox'>
            15
          </div>
          <div class='databox'>
            38
          </div>
          <div class='databox'>
            290
          </div>
          <div class='databox'>
            0
          </div>
          <div class='databox'>
            0
          </div>
          <div class='commentedbox'>
            Dubia ML
          </div>
        </div>
      </div>
<!-- <%= line_chart @chartheight, id: "height-chart",width: "45%", height: "15rem", curve: false %> -->
      <% screenshot %>
      </div>
    </div>
  </div>

