.petcontents {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: #006600;
  display: inline-block;
  margin-left: 3rem;
  margin-top: 3rem;
}

.petprof {
  width: 17rem;
  height: 17rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.petsname {
  font-family: 'jurassic',fantasy,sans-serif;
  font-size: 3rem;
  color: red;
  text-shadow: 4px 4px 1px black;
  text-align: center;
}

